<div class="empty-teams">
    <div class="empty-teams-image">
      <%= image_tag asset_path("thinking.gif"), class:"card-img-top"%>
    </div>
    <div class="empty-teams-text">
      <h3 class="">Trenutno nimaš ekipe.</h3>
      <p class="card-text"><a href="/join/team">Pridruži se ekipi</a> ali pa <a href="/teams/new">ustvari svojo</a>.</p>
    </div>
  </div>