<div class="empty-teams">
    <div class="empty-teams-image">
      <%= image_tag asset_path("thinking.gif"), class:"card-img-top"%>
    </div>
    <div class="empty-teams-text">
      <h3 class="">Trenutno še ni potrjenih ekip.</h3>
      <p class="card-text">Pridi nazaj čez nekaj časa, mogoče se pa ravno tvoja ekipa pojavi tukaj.</p>
    </div>
  </div>