<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
         <div class="toast-container top-0 end-0 p-3">
          <div class="alert toast align-items-center text-bg-danger alert-dismissible fade show" role="alert">
            <%= message %>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          </div>
      <% end %>
    </ul>
  </div>
<% end %>
