<div class="col">
  <div class="card h-100 bg-dark text-light">
    <%= image_tag asset_path("games/thumbnails/LOL.png"), class:"card-img-top"%>
    <div class="card-body position-relative">
      <h3 class="card-title">The Grubs</h3>
      <p class="card-text">Igra: League of Legends</p>
      <div class="buttons-teams">
      </div>
    </div>
  </div>
</div>  
   