<p class="countdown main-title-homepage">ZMAGOVALCI 🎉</p>
<div id="teams" class="row row-cols-1 row-cols-md-4 g-2 m-2"> 
    <%= render 'layouts/winners/fortsolo' %>  
    <%= render 'layouts/winners/fortduo' %>
    <%= render 'layouts/winners/cs' %>  
    <%= render 'layouts/winners/lol' %>  
</div>