<div class="iframe-container">
    <iframe
        src="<%= ENV['STREAM_LINK'] %>"
        height="720"
        width="1280"
        frameborder="0"
        scrolling="no"
        allowfullscreen="true">
    </iframe>
</div>