<!-- app/views/discord_notifications/send_notification.html.erb -->

<p class="countdown main-title-homepage user-edit-title">
  Pošlji obvestilo na Discord
</p>
<%= form_with(url: '/discord/send', method: 'post') do |form| %>
  <div class="user-profile-main">
  
  <div class="user-profile-input">
    <%= form.text_field :role, placeholder: 'discord rola', class: 'user-profile-input' %>
  </div>
  <%= form.text_area :content, placeholder: 'Vsebina obvestila', class: 'user-profile-input' %>
  </div>

  <div class="user-edit-confirm">
  <%= form.submit 'Send Notification' %>
  </div>
<% end %>
