.home-carusel {
    padding: 5% 5%;
    background-color: #DABD6C;
}

.main-show-homepage-carusel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert {
    --bs-alert-margin-bottom: 0.5px !important;
}