.home-carusel {
    padding: 5% 5%;
    background-color: #DABD6C;
}

.main-show-homepage-carusel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert {
    --bs-alert-margin-bottom: 0.5px !important;
}




.custom-carousel {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  overflow-x: auto;
  align-items: center;
  justify-content: center;
}

.custom-carousel-item {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px; /* Adjust spacing between images */
}

.custom-carousel-image {
  width: auto;
  filter: grayscale(100%); /* Convert images to black and white */
  transition: filter 0.5s ease-in-out;
  max-height: 10vh; /* Maximum height of images */
}

.custom-carousel-image:hover {
  filter: grayscale(0%); /* Convert images to black and white */
}


/* Animation */
@keyframes custom-scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }

}

.landing-page {
    width: 100vw;
}



