.login-links {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.login-links a {
    color: #fff;
    text-decoration: underline;
}

.login-back {
    background-color: #121212;
}

.form-label {
    color: #fff;
}

.form-control-lg {
    background-color: #2b2f32 !important;
    border: 1px solid #fff !important;
    color: #fff !important;
}

.form-control-lg:focus {
    background-color: #2b2f32 !important;
    border: 1px solid #fff !important;
    color: #fff !important;
}

.form-check-label {
    color: #fff;
}

.form-check-input {
    background-color: #2b2f32 !important;
    border: 1px solid #fff !important;
    color: #fff !important;
}

.text-login-or {
    color: #fff !important;
}


@media (max-width: 990px) { 
    .img-login {
        display: none;
    }
}

.select-dropdown-login {
    background-color: #2b2f32 !important;
    border: 1px solid #fff !important;
    color: #fff !important;
    width: 100%;
    border-radius: 5px;
    
}

.login-button-navbar {
    background-color: #fff !important;
    color: #fff !important;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-nav {
    gap: 8px;
}

.login-button-text {
    color: #000 !important;
    padding: 0px 8px !important;
    text-align: center;
    font-family: Be Vietnam Pro;
    
}



.nav-link {
    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.navbar-brand {
    font-family: Be Vietnam Pro;
    margin-left: 24px;
}

@media (min-width: 990px) { 
    .navbar {
        height: 72px;
    }

    .navbar-nav {
        margin-right: 24px;
    }

    .center-navbar {
        display: flex !important;
        align-items: center;
        justify-content: center;
    }
}


.navbar-active a {
    color: #fff !important;
}

input.btn.btn-primary.btn-lg.btn-block {
    width: 100%;
}