<p class="countdown main-title-homepage">O DOGODKU</p>
<div class="about-section">
    <div class="about-section-div">
        <p class="about-section-title">Kaj je ERŠ LAN Party?</p>
        <p class="about-section-text">ERŠ LAN Party je dogodek, ki ga organizirajo dijaki Elektro in računalniške šole v Velenju. Dogodek je namenjen vsem, ki jih zanima računalništvo, igranje računalniških iger in druženje z vrstniki. Na dogodku se bodo odvijale različne aktivnosti, kot so igranje računalniških iger, tekmovanja v različnih igrah.</p>
        <p class="about-section-title">Kdaj in kje?</p>
        <p class="about-section-text">ERŠ LAN Party se bo odvijal v prostorih restavracije Gaudeamus v Velenju, in sicer 2. februarja 2024. Dogodek se bo začel ob 16:00 in končal naslednji dan ob 21:00.</p>
        <p class="about-section-title">Kaj potrebujem?</p>
        <p class="about-section-text">Za udeležbo na dogodku potrebujete računalnik, monitor, tipkovnico, miško, slušalke in miško. Priporočamo tudi, da s seboj prinesete kakšen podaljšek in internetni kabel, saj je električnih vtičnic v šoli malo.</p>
    </div>

    <div class="about-section-div">
        <%= image_tag asset_path("gaudic.png"), class:"landing-page"%>
    </div>
</div>