<div class="alert alert-primary alert-dismissible fade show" role="alert">
  <strong>Ti QR koda na plakatu ne deluje pravilno?</strong> Poskusi <a href="https://discord.gg/Uavd8mZJjG" target="_blank" class="alert-link">ta link (SPOILER: discord server je :)</a>.
  <%= button_to '', "/discord?discord_submitted=true", class:'btn-close' %>
</div>
