<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Se želiš udeležiti dogodka?</strong> Reši <a href="https://forms.office.com/pages/responsepage.aspx?id=ISkj9tfQGkye7g2hUhMATUMUT-X0C8REvodtX_qv2VpURDZGRjRSQUpEQjlUM1NPR0lMUDBTVjhUQy4u&origin=lprLink" target="_blank" class="alert-link">to anketo</a>  in nam s tem pomagaj pri organizaciji!
  <%= button_to '', "/anketa?anketa_submitted=true", class:'btn-close' %>
</div>