<p class="countdown main-title-homepage">ZAHVALA</p>
<div class="about-section">
    <div class="about-section-div">
        <p class="about-section-text">Hvala vsem, ki ste se udeležili našega dogodka. Zahvala tudi vsem sponzorjem za nagrade in podporo, brez katerih ne bi bilo mogoče izpeljati tako uspešnega dogodka. Velika zahvala tudi mentorjema in vsem, ki ste s svojim trudom in energijo pomagali pri organizaciji dogodka, vaša predanost je neprecenljiva. Prav tako pa se želim zahvaliti vsem, ki ste s svojim prispevkom omogočili nemoten potek in uspeh tega dogodka. Vaša podpora in angažiranost sta bila ključnega pomena in brez vas to ne bi bilo mogoče. Hvala vam za vaš trud in predanost! Vabimo vas, da se nam pridružite spet drugo leto, saj bomo skupaj ustvarjali nove nepozabne trenutke in doživetja.</p>
    </div>

    <div class="about-section-div">
      <iframe src="https://giphy.com/embed/cJMYXM0g7AqPdbteIP" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen class="landing-page"></iframe><p><a href="https://giphy.com/gifs/thank-you-thx-thanks-again-cJMYXM0g7AqPdbteIP">via GIPHY</a></p>
    </div>
</div>